/*Seletor para o corpo da página*/
body {
    /*Propriedades e valores*/
    background-color: blueviolet;
    color: cyan;
}

/*Seletor h1 e suas propriedades*/
H1{
    color: darkgoldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    text-align: center;
}

/*Seletor h2, propriedades e valores*/
h2{
    color: yellow;
    font-family: serif;
    font-size: 250%;
}

/*Seletor da Imagem, propriedade e valores*/
img {
    height: 200px;/*Altura em pixels*/
    width: 200px;/*Largura em pixels*/
    box-shadow: 5px 5px 10px blue/*Sombra*/;
    border-radius: 20px/*Borda arredondada*/;
}
/*Identificador usa-sea HASH #*/
img#imgPrincipal {
    /*Centralização da Imagem */
    display: block;
    margin: 50px auto;
    width: 50%;
    height: auto;
}

/*Classes usam o PONTO .*/
img.logo {
    margin-left: 13%;
    /*Arredondamento da Imagem*/
    border-radius: 50% ;
}